*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 78, 173);
    max-width: 3024px;
    padding: 0px 0px 70px 0px;
}
header > h1{
    color: white;
    margin-top: 60px;
}


form{
    margin-left: 38%;
    max-width: 390px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form li{
    margin-top: 20px;
}
form input{
    max-height: 100px;
    max-width: 100%;
    width: 100%;
    padding: 8px 0;
    font-weight: bold;
}
form button{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 12px 40px;
}
#enviar{
    color: white;
    background-color: rgb(65, 117, 246);
}
#enviar:hover{
    cursor: pointer;
    background-color: blue;
}
#reset{
    color: white;
    background-color: rgb(182, 54, 54);
}
#reset:hover{
    cursor: pointer;
    background-color: rgb(255, 51, 0);
}

ul{
    list-style: none;
}